.jumbotron{
	background-color:#fff;
	padding:20px 20px 400px 20px;
	border:solid 1px #c1c1c1;
}
.title{
	font-weight:600;
	font-size:22px;
	font-family:"맑은고딕";
	padding:0 0 0 5px;
	color:#333333;
}
.title i{
	font-style:normal;
}
.userInfo_area{
	padding:0 0 0 5px;
}
.userInfo_area span{
	margin-right:10px;
}
.userInfo_area i{
	font-style:normal;
	font-size:14px;
	color:#999999;
}
.userInfo_area em{
	font-style:normal;
	font-size:14px;
	color:#333333;
}
.btn_area{
	text-align:right;
	padding:10px 0px;
	border-bottom:solid 3px #ccc;
}
#update,#delete,#list{
	cursor:pointer;
}
.userInfo_area:after{
	content:"";
	display:block;
	clear:both;
}
.content_area{
	height:auto;
	padding:20px 10px;
}
.content_area img{
	width:400px;
	height:auto;
}
.content_text{
	margin-top:20px;
}
.br{
	display:none;
}
@media screen and (max-width: 414px){
	.content_area img{
		width:100%;
		height:auto;
	}
	.br{
		display:block;
	}
}
	
	
