.jumbotron{
	background-color:#fff;
}
.joinForm{
	margin-top:20px;
}
.form-gruop{
	margin-top:5px;
}
#joinBtn{
	margin-top:15px;
	background-color:#560398;
	color:#fff;	
}
.validation_success{
	color:#4CAF50;
}
.validation_fail{
	color:red;
}
@media screen and (max-width:414px){
	.jumbotron h2{
		font-size:22px;
	}
	.form-gruop label{
		font-size:15px;
	}
	.form-control{
		font-size:12px;
	}
	.form-gruop div{
		font-size:12px;
	}
}