.jumbotron{
	border:solid 1px #c1c1c1;
	background-color:#fff;
}
.writeForm{
	margin-top:30px;
}
#content{
	height:200px;
}
#addFile{
	position:absolute;
	width:1px;
	height:1px;
}
label[for="addFile"]{
	cursor:pointer;
}
#thumbnailImg{
	margin-top:15px;
	width:300px;
	height:auto;
}
.register_area{
	text-align:right;
}
#registerBtn{
	background-color: #560398;
    color: #fff;
}
@media (max-width:414px){
	#thumbnailImg{
		width:250px;
		height:auto;
	}
}